---
author: Ron Sweeney
title: Innovating on HealthCare Data
description: Identity and Entity Resolution
design: black 
---


<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  <a class="github-fork-ribbon right-top" href="{{site.githuburl}}" data-ribbon="Meetup" title="Meetup">Meetup</a>
	<div class="reveal">
		<div class="slides">
        <section id="overview" data-markdown data-separator="\n---\n">
            <script type="text/template">
# Innovating on Healthcare Data
Identity and Entity Resolution
<br>

[Let's Go!](/identity_entity_resolution/identity_entity_resolution)

<br>

            </script>
        </section>
			{{ content }}
		</div>
	</div>
	{% include script.html %}
</body>
</html>
